.w50px {
    width: 50px;
}

.w70px {
    width: 70px;
}

.w500px {
    width: 500px;
}

.w1000px {
    width: 1000px;
}


.w600px {
    width: 600px;
}

.h45px {
    height: 45px;
}

.h100p {
    height: 100%;

}

.tp-6 {
    top: -6%;
}

.tp-5 {
    top: -5%;
}

.tp-0 {
    top: 0;
}

.tp20px {
    top: 20px;
}

.tp30p {
    top: 30%;
}

.tp50p {
    top: 50%;
}

.tp80px {
    top: 80px;
}

.tp100px {
    top: 100px;
}

.left2p {
    left: 2%;
}

.left4 {
    left: 4%;
}

.left10 {
    left: 10px;
}

.left10p {
    left: 10%;
}

.left45p {
    left: 45%;
}

.left50px {
    left: 50px;
}

.left50p {
    left: 50%;
}

.mrg-right-40px {
    margin-right: 40px;
}

.mrg-right-45px {
    margin-right: 45px;
}



.bdr-1p-solid {
    border: 1px solid #292929;
}

.bdr-1p-solid-none {
    border: 1px solid #a7a4a4;
}

.pad-2p {
    padding: 2%;
}

.pad-10px {
    padding: 10px;
}

.pad-right100 {
    padding-right: 100px;
}

.pad-left20 {
    padding-left: 20px;
}

.pad-right30px {
    padding-right: 30px;
}

.brd-left-right-20px {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.brd-rad20px {
    border-radius: 20px;
}

.brd-right-none {
    border-right: none;
}

.gap-10px {
    gap: 10px;
}

.gap-20px {
    gap: 20px;
}

.crs-p {
    cursor: pointer;
}

.opacity12 {
    opacity: 12%;
}

.btm0 {
    bottom: 0;
}

.btm10 {
    bottom: 10px;
}

.f-right {
    float: right;
}


.right10rem {
    right: 10rem;
}



.watching-list {
    display: flex;
    align-items: center;
}

.watching-icon {
    font-size: 1.5em;
    margin-right: 0.5em;
}

.watching-count {
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 0.2em;
}

.watching-text {
    font-size: 1em;
}

.margin-top5p {
    margin-top: 5%;
}

.margin-top10p {
    margin-top: 10%;
}

.margin-btm5p {
    margin-bottom: 5%;
}


.live-text {
    color: red;
    font-size: 14px;
    position: relative;
    animation: moveUpDown 1s ease-in-out infinite alternate;
    font-weight: bold;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(10px);
    }
}

.txt-cnt {
    text-align: center;
}


.glow-on-hover {
    width: 400px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}